# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
r: bioc-release
warnings_are_errors: false
cache: packages
install:
- R -e 'install.packages("remotes"); remotes::install_github("tanaylab/metacell")'
script:
- R CMD build .
before_deploy: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true